.text-edit {
  .text-quill-editor {
    .ql-container {
      .ql-editor {
        line-height: 10px;
        outline: none;

        p {
          &.selected {
            background-color: aliceblue;
          }
        }
      }
      .ql-clipboard {
        display: none;
      }
    }
  }
}
